.addMargin{
    margin: 6px;
}

.tags-block{
    padding: .2em .3em;
    margin: 0 .25em;
    line-height: 1;
    display: inline-block;
    border-radius: 0.25em;
}

.ent-Name{
    box-sizing: border-box;
    content: attr(data-entity);
    font-size: .55em;
    line-height: 1;
    padding: .35em .35em;
    border-radius: .35em;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0.15em 0.15em;
    background: #fff;
    font-weight: 7000;
}
