body {
    background-color: #F2F2F2;
  }

.wrapper{
    margin-top: 30px;
}

.addMargin{
    margin: 20px;
  }

.right{
    text-align: right;
}

.addPad{
  padding: 20px;
}

.wrapper .content{
  margin: 10px 0;
}
.content p{
  font-size: 15px;
}

.bg-lightgreen{
  background-color: #00B14F66;
}

.text-bg-num{
  background-color: #999999;
}

.custom_size {
  padding-top: 5px;
  padding-bottom: 5px;
}

.custom-button {
  font-weight: 500;
  color: white;
}
/* 
.mb-3{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 18px;
  padding-right: 18px;
} */

