body {
    background-color: #F2F2F2;
  }

.wrapper{
    margin-top: 30px;
}

.addMargin{
    margin: 20px;
  }

.right{
    text-align: right;
}

.addPad{
  padding: 20px;
}

.wrapper .content{
  margin: 10px 0;
}
.content p{
  font-size: 15px;
}

.bg-lightgreen{
  background-color: #00B14F66;
}

.text-bg-num{
  background-color: #999999;
}

.custom_size {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
}

.custom-button {
  font-weight: 500;
  color: white;
}
.addMargin{
  margin: 6px;
}

.addMarginLeft{
  margin-left: 6px;
}

.tags-block{
  padding: .2em .3em;
  margin: 0 .25em;
  line-height: 1;
  display: inline-block;
  border-radius: 0.25em;
}

.ent-Name{
  box-sizing: border-box;
  content: attr(data-entity);
  font-size: .55em;
  line-height: 1;
  padding: .35em .35em;
  border-radius: .35em;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0.15em 0.15em;
  background: #fff;
  font-weight: 7000;
}
.btn-light{
  font-weight: 500;
}

.btn-outline-secondary{
  opacity: 50%;
  color: black;
  font-weight: 450;
}

.bg-lightgreen{
  background-color: #6abe90c5;
}